body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1995AD;
}

.searchbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.txtbox{
    width: 500px;
    height: 40px;
    border: 1px solid rgb(1, 38, 117);
    border-radius: 8px;
    background-color: #F1F1F2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #A1D6E2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 18px;
    border: none;
}

.main-container{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin: 40px auto;
}

.container-left{
    background-color: #A1D6E2;
    width: 1000px;
    height: auto;
    max-width: 70%;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 8px;
    align-self: flex-start;
}

h2{
    margin: 30px 0px;

}

.container-right {
    background-color: #A1D6E2;
    width: 500px;
    height: auto;
    max-width: 30%;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 8px;
    align-self: flex-start;
}

.search-result{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card img {
    width: 100%;         
    height: 250px;        
    object-fit: cover;   
    border-radius: 6px;
}

.card h3 {
    text-align: start;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #333;
}

.card p{
    text-align: start;
    margin: 5px 0px;
    font-size: 18px;
}

.card-button{
    background-color: #1995AD;
    color: white;
    width: auto;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    margin: 10px 5px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;  
  padding: 20px 0;
}

.teamcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    gap: 10px;
}

.teamcard img {
    width: 80px;         
    height: 100%;        
    object-fit: cover;   
    border-radius: 6px;
}

.teamcard h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}

.remove-button{
    background-color: #1995AD;
    color: white;
    width: 104px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    margin: 10px 5px;
}

.social-icons {
  margin-top: 10px;
  font-size: 20px;
}

.social-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #1995AD;
}